/* Colors */
:root {
    --MainColor: #ad974f;
    --HoverColor: #8E793E;
    --DarkGrey: #231F20;
    --DirtyWhite: #EAEAEA;
    --whiteColor: #ffffff;
    --blackColor: #2e2e2e;
    --textColor: #9f9f92;
    --whiteColor2: #ededed;
    --greyBG: #231F20;
    --greyText: #bfbfbf;
    --inputColor: #f8f6f7;
}

.fdDashboard {
    height: 100vh;
}