/* Colors */
:root {
  --MainColor: #ad974f;
  --HoverColor: #8E793E;
  --DarkGrey: #231F20;
  --DirtyWhite: #EAEAEA;
  --whiteColor: #ffffff;
  --blackColor: #2e2e2e;
  --textColor: #9f9f92;
  --whiteColor2: #ededed;
  --greyBG: #231F20;
  --greyText: #bfbfbf;
  --inputColor: #f8f6f7;
}

.services {
  padding-top: 15rem;
}
.services .servicesContainer {
  min-height: 100vh;
}
.services .servicesContainer .servicesHeader {
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}
.services .servicesContainer .servicesHeader .servicessecTitle {
  color: var(--blackColor);
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 60px;
}
.services .servicesContainer .servicesHeader p {
  padding-top: 3rem;
  text-align: center;
  font-size: 20px;
  color: var(--textColor);
  font-weight: 500;
}
.services .servicesContainer .servicesmainContent {
  padding: 2rem 0;
  gap: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.services .servicesContainer .servicesmainContent .servicesParentDiv {
  display: flex;
  flex-direction: row;
}
.services .servicesContainer .servicesmainContent .servicesParentDiv .servicessingleRoom {
  height: 15rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  background-color: #ad974f;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
}
.services .servicesContainer .servicesmainContent .servicesParentDiv .servicessingleRoom .servicesImage {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.services .servicesContainer .servicesmainContent .servicesParentDiv .servicessingleRoom .servicesImage img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services .servicesContainer .servicesmainContent .servicesParentDiv .servicessingleRoom .servicesImage h3 {
  color: var(--whiteColor);
  font-weight: 600;
}
.services .servicesContainer .servicesmainContent .servicesParentDiv .servicessingleRoom .servicesImage p {
  color: var(--whiteColor);
  opacity: 0.7;
  font-size: 13px;
}
.services .servicesContainer .servicesmainContent .servicesParentDiv .servicessingleRoom .servicesFooter {
  justify-content: space-between;
  text-align: center;
  height: 5rem;
}
.services .servicesContainer .servicesmainContent .servicesParentDiv .servicessingleRoom .servicesFooter .servicesText {
  text-align: center;
}
.services .servicesContainer .servicesmainContent .servicesParentDiv .servicessingleRoom .servicesFooter h6 {
  font-size: 2rem;
}
.services .servicesContainer .servicesmainContent .servicesParentDiv .servicessingleRoom .servicesFooter .flex {
  font-size: 16px;
  font-weight: 600;
  align-items: flex-start;
  transform: translateY(5px);
}
.services .servicesContainer .servicesmainContent .servicesParentDiv .servicessingleRoom .servicesFooter .flex .icon {
  color: var(--MainColor);
}
.services .servicesContainer .servicesmainContent .servicesParentDiv .servicessingleRoom .servicesFooter:hover {
  background-color: #ceb86e;
}

@media screen and (min-width: 480px) {
  .services {
    padding-top: 10rem;
  }
}
@media screen and (min-width: 556px) {
  .services .servicesContainer .servicesHeader {
    widows: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .services .servicesContainer .servicesHeader .servicestextDiv {
    text-align: start;
    max-width: 70%;
  }
  .services .servicesContainer .servicesHeader .servicesiconsDiv {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 320px) {
  .services {
    padding-top: 17rem;
  }
}
@media screen and (min-width: 480px) {
  .services {
    padding-top: 10rem;
  }
}
@media screen and (min-width: 720px) {
  .services {
    padding-top: 7rem;
  }
}
@media screen and (min-width: 884px) {
  .servicesContent {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .services {
    padding-top: 10rem;
  }
  .services .servicesContainer .servicesHeader .servicestextDiv .servicessecTitle {
    font-size: 2.2rem;
  }
  .services .servicesContainer .servicesHeader .servicestextDiv p {
    font-size: 15px;
  }
}/*# sourceMappingURL=Services.css.map */